/* write your override styles here */
#wall {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}
.tag-1{
color: azure;
position: relative;
}
#tag-2, #tag-3, #tag-4, #tag-5, #tag-6{
    background-color: aqua;
    border: 3px dotted lightcoral;
    border-radius: 25%;
}
.parent{
    display: flex;
    justify-content: center;
    background-color: crimson;

}
#tag-7{
    border: 3px solid goldenrod;
    border: 25%;
    
}